.box
{
    width:400px;
    height:400px;
    background-image:url("wed.JPEG");
border-radius:25px;
text-align: bottom;

}

.rose
{
    width:400px;
    height:400px;
    background-image:url("in4.JPEG");
    border-radius:75px;
    background-color: blue;
    background-color:yellowgreen ;
    background-size:cover;
}
h1{
    text-align:center;

}
